<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    
    <script src="/static/build/common.js"></script>
    <script src="/static/build/main.js"></script>
  </body>
</html>
