<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    
    <script src="/static/js/common.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
