<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% if (!dev) { %>
    <link rel='stylesheet' href='/build/all.min.css' />
    <% } %>
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    <script>
      window.__REDUX_STATE__ = JSON.parse('<%- JSON.stringify(reduxData) %>');
    </script>
    <script src="/build/common.js"></script>
    <script src="/build/main.js"></script>
  </body>
</html>
