<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% if (!dev) { %>
    <link rel='stylesheet' href='/static/all.min.css' />
    <% } %>
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    
    <script src="/static/common.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
